<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MondayCS470ImageBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F368A461F54D92A00BB0340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F368A5A1F54D92A00BB0340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F368A651F54D92A00BB0340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
